body {
    font-family: Arial;
  }
  
  #taskForm {
    margin-bottom: 20px;
  }
  
  #taskList {
    list-style-type: none;
  }
  
  #taskList li {
    margin: 10px 0;
    padding: 10px;
    background: lightgray;
    border-radius: 4px;
  }
  
  .done-task-class {
    background-color: green !important;
  }

  .in-progress-task-class {
    background-color: yellow !important;
  }